/************

This style sheet is written in BEM

Block = .block
Element = .block__element
Modifier = .block__element--modifier / .block--modifier

************/

/* BLOCKS *****************************************************************/

.all {
	margin: 0;
	padding: 0;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #343535;
}

.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	box-shadow: 0px 3px 10px #e4f3fc;
}

.footer {
	width: 100%;
	background-color: #343535;
}

.search {
	background: black;
	position: relative;
	margin-top: 100px;
	width: 100%;
}

.links {
	background-color: #f0f0f0;
/*	margin-bottom: 1em;*/
}

.cta {
	background: url(../img/_ctas/cta-bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 310px;
	position: relative;
}

.employers {
	background-color: white;
	width: 100%;
	padding: 5% 0;
}

.career {
	background-color: #f0f0f0;
	width: 100%;
	padding: 3em 0;
/*	padding: 0 5%;*/
}

.our {
	width: 100%;
/*	padding: 3em;*/
/*	padding: 2% 3%;*/
	padding: 3em 0;
}

.button {
	background: #f12e58;
	color: white;
	border-radius: 5px;
	border: 0;
	width: 80px;
    height:28px;
}

/*Remove rounded corners whilst keeping arrows*/
.dropdown {
	border: 0px;
	outline: 1px inset black;
	outline-offset: -1px;
	margin-right: 1.3em;
	height: 28px;
}

.text-field {
	height: 2em;
	padding-left: 5px;
}


/* ELEMENTS ***************************************************************/

.header__nav {
	list-style-type: none;
	float: right;
	margin-top: 0.8em;
}

.header__nav-item {
	display: inline-block;
}

.header__logo {
	max-height: 55px;
	padding: 10px 0.6em;
}

.footer__nav {
	list-style-type: none;
	float: left;
	position: relative;
	left: 40px;
}

.footer__nav-item {
	display: inline-block;
}

/*Attempt to reuse footer__link, footer__nav, footer__nav-item in footer__small did not work well
with unexpected padding etc. Ended up using dedicated classes for footer__small*/

/*This requires padding of 8px on left for some reason. 20px left on footer__narrow should have been sufficient?*/
.footer__info {
	color: white;
	float: left;
	/*padding-left: 8px;*/
	padding-top: 2px;
}

/*This requires a 40px margin on right, where I would expect it to need 20px?*/
.footer__nav-social {
	list-style-type: none;
	float: right;
	margin-top: 0px;
	margin-right: 40px;
}

/*li*/
.footer__social {
	list-style-type: none;
	float: right;
}

 /*images*/
.footer__social-img {
	height: 15px;
	padding: 5px 0.5em;
	float: right;
}

.search__img {
	width: 100%;
	opacity: 0.7;
}

.search__text {
	position: absolute;
	top: 25%;
	left: 0;
	color: white;
	width: 100%;
}

.search__input {
	position: absolute;
	bottom: 0px;
	height: 25%;
	width: 100%;
}

.links__title {
	height: 1em;
	margin-bottom: 1em;
}

/*ul*/
.links__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/*li*/
.links__list-item {
	line-height: 2em;
}

.links__flex {
	display: flex;
    flex-flow: column;
}

.links__jobs {
	margin-bottom: 0.8em;
}

.cta__absolute {
	width: 100%;
	position: absolute;
	top: 15%;
	height: 60%;
}

.cta__block {
	max-width: 250px;
	height: 100%;
	z-index: 0;
	padding: 0 1em;
}

.cta__img {
	max-height: 2em;
	width: 100%;
	margin-bottom: 1em;
}

.employers__title {
	height: 1em;
	margin-bottom: 1em;
	padding: 0 10%;
}

/*ul*/
.employers__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/*li*/
.employers__list-item {
	display: inline-block;
	width: 12%;
	margin: 0.7em;
}

.employers__img {
	width: 100%;
	border: 2px solid #f0f0f0;
}

/*aside*/
.career__ads {
/*	flex: 1 1 10%;*/
	display: flex;
    flex-flow: column;
	width: 25%;
	position: relative;
	display: inline-block;
}

.career__advert {
	width: 95%;
	margin: 1em;
}

.career__advertise-here {
	width: 95%;
	position: absolute;
	bottom: 1em;
	left: 1em;
	height: 39.5%;
}

.career__overlay {
	background: #343535;
	opacity: 0.7;
}

.career__ad-list {
	list-style-type: none;
	padding-left: 0;	
}

.career__ad-list-item {
	padding-bottom: 0.5em;
	padding-left: 0; 
}

/*article*/
.career__advice {
	width: 60%;
    display: flex;
    flex-flow: column;
   	display: inline-block;
   	padding: 1em;
}

.career__title {
	width: 100%;
	height: 1em;
	margin-bottom: 1.7em;
	margin-left: 1em;
}

.career__content {
	display: flex;
    flex-flow: column;
}

.career__main-flex {
	display: flex;
    flex-flow: row;
}

.career__main {
	width: 50%;
	margin: 1em;
}

.career__secondary-flex {
	display: flex;
    flex-flow: row;
}

/*figure*/
.career__article {
	width: 100%;
	display: inline-block;
	margin: 1em;
}

.our__about {
	background: #f0f0f0;
	padding: 2em;
	margin-left: 1em;
	margin: 1em;
	width: 25%;
}

.our__download {
	background: #e4f3fc; 
	padding: 2em 0 2em 2em;
	margin: 1em;
	width: 25%;
}

.our__download-text {
	float: left;
	width: 50%;
	color: #343535;
}

.our__download-img {
	width: 45%;
	float: right;

}

.our__apple {
	width: 70%;
	padding-top: 1em;
}

.our__featured {
	background: #f0f0f0;
	padding: 2em;
	margin: 1em;
	width: 25%;
}

/*ul*/
.our__featured-list {
	list-style-type: none;
	padding-left: 0;
}

.our__featured-list-item {
	line-height: 2em;
}

/* MODIFIERS **************************************************************/

.flex--three-column {
	flex: 0 1 27%;
	margin: 3% 1%;
}

.flex--three-column-cta {
	flex: 0 1 30%;
	margin-left: 1%;
	margin-right: 1%;
}

.flex--three-column-our {
	flex: 0 1 24%;
	margin: 3% 1%;
}

.text--big-title {
	font-size: 2em;
	text-align: center;
}

.text--medium-title {
	font-size: 1.2em;
	color: #47a3d6;
	-webkit-margin-before: 0;
	line-height: 1.6em;
}

.text--small-title {
	font-size: 1em;
	margin-bottom: 1.5em;
	font-weight: bolder;
}

.text--big {
	font-size: 1em;
	font-weight: lighter;
	line-height: 1.6em;
	text-align: center;
	letter-spacing: 1.2px;
}

.text--medium {
	font-size: 1em;
	font-weight: lighter;
	line-height: 1.6em;
}

.text--right {
	float: right;
}

/*<a>*/
.text--link {
	text-decoration: none;
	color: #47a3d6;
	font-size: 1em;
}

.text--link:hover,
.text--link-bold:hover {
	color: #1079be;
}

.text--link-bold {
	text-decoration: none;
	color: #47a3d6;
	font-size: 1em;
	line-height: 1.6em;
	font-weight: bold;
}

.text--standard {
	margin-top: 0;
	font-size: 0.9em;
	line-height: 1.5em;
	font-weight: lighter;
}
/*Needed for media query*/
.text--small {
	margin-top: 0;
	font-size: 0.9em;
	line-height: 1.5em;
	font-weight: lighter;
}

.text--postscript {
	font-size: 0.7em;
	color: #acacac;
	display: inline;
	padding-left: 1em;
}

.text--white {
	color: white;
}

.text--link-nav {
	color: white;
	text-decoration: none;
	padding: 0 1em;
}

.text--link-header {
	font-size: 10px;
}

.text--link-header:hover {
	color: #343535;
}

.text--link-footer {
	font-size: 1em;
	line-height: 50px;
}

.text--link-footer:hover {
	color: #47a3d6;
}

.text--link-header-main {
	color: #343535;
	font-size: 1em;
	font-weight: bold;
	line-height: 50px;
}

.text--link-header-main:hover {
	background-color: #1079be;
	color: white;
	padding: 1em;
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.header--small {
	height: 25px;
	background: #1079be;
	margin: 0;
	line-height: 22px;
}

.header--big {
	height: 75px;
	background: white;
}

.header--narrow {
	width: 20%;
	position: relative;
	left: 14px;
}

.header--wide {
	width: 70%;
	position: relative;
	right: 20px;
}

.footer--big {
	height: 75px;
	border-bottom: 0.5px solid white;
}

.footer--small {
	height: 25px;
	width: 100%;
}

.footer--wide {
	width: 50%;
	position: relative;
	left: 20px;
}

.footer--narrow {
	width: 40%;
	right: 20px;
}

.search__input--full-width {
	width: 100%;
/*	margin-bottom: 10em;*/
}

.search__input--half-width {
	width: 45%;
}

.search__input--background {
	background-color: #343535;
	opacity: 0.6;
}

.links__jobs--img {
	width: 35%;
	float: left;
	margin-bottom: 1.2em;
}

.links__jobs--text {
	width: 50%;
	margin-left: 1em;
	float: right;
}

.cta--centered {
	text-align: center;
}

.cta__block--transparency {
	background-color: #343535;
	opacity: 0.75;
}

.cta__block--opaque {
	margin-top: 3%;
}

.career__main--img,
.career__article--img {
	width: 100%;
}

.career__article--text {
	/*need for media query*/
}

.career__overlay--text {
	bottom: 0;
	left: 2em;
	width: 85%;
}

.employers__img:hover,
.links__jobs--img:hover {
	box-shadow: 1px 1px 15px #e4f3fc;
}

