/************

This style sheet is written in BEM

Block = .block
Element = .block__element
Modifier = .block__element--modifier / .block--modifier

************/

/* BLOCKS *****************************************************************/

.all {
	margin: 0;
	padding: 0;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #343535;
}

.flex {
	display: flex;
	flex-flow: row || wrap;
	justify-content: center;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	box-shadow: 0px 0px 10px #47a3d6;
}

.footer {
	width: 100%;
	background-color: #343535;
}

.search {
	background: black;
	position: relative;
	margin-top: 100px;
	width: 100%;
}

.links {
	background-color: #f0f0f0;
/*	margin-bottom: 1em;*/
}

.cta {
	background: url(../img/_ctas/cta-bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}

.employers {
	background-color: white;
	width: 100%;
	padding: 5% 0;
}

.career {
	background-color: #f0f0f0;
	width: 100%;
	padding: 3em 0;
/*	padding: 0 5%;*/
}

.button {
	background: #f12e58;
	color: white;
	border-radius: 5px;
	border: 0;
	width: 80px;
    height:28px;
}

/*Remove rounded corners whilst keeping arrows*/
.dropdown {
	border: 0px;
	outline: 1px inset black;
	outline-offset: -1px;
	margin-right: 1.3em;
	height: 28px;
}

.text-field {
	height: 2em;
	padding-left: 5px;
}

/* ELEMENTS ***************************************************************/

.flex__three-column {
	width: 27%;
	margin: 3% 1%;
}

.flex__six-column {
	width: 13%;
	margin: 1% 1%;
}

.header__small {
	height: 25px;
	background: #1079be;
	margin: 0;
	line-height: 22px;
}

.header__big {
	height: 75px;
	background: white;
}

.header__narrow {
	width: 20%;
	position: relative;
	left: 20px;
}

.header__wide {
	width: 70%;
	position: relative;
	right: 20px;
}

.header__nav {
	list-style-type: none;
	float: right;
}

.header__nav-item {
	display: inline-block;
}

.header__link {
	color: white;
	font-size: 10px;
	text-decoration: none;
	padding: 0 1em;
}

.header__logo {
	max-height: 55px;
	padding: 10px 0px;
}

.footer__big {
	height: 75px;
	border-bottom: 0.5px solid white;
}

.footer__small {
	height: 25px;
	width: 100%;
}

.footer__wide {
	width: 70%;
	position: relative;
	left: 20px;
}

.footer__narrow {
	width: 20%;
	right: 20px;
}

.footer__nav {
	list-style-type: none;
	float: left;
}

.footer__nav-item {
	display: inline-block;
}

.footer__link {
	color: white;
	text-decoration: none;
	font-size: 1em;
	line-height: 50px;
	padding: 0 1em;
}

/*Attempt to reuse footer__link, footer__nav, footer__nav-item in footer__small did not work well
with unexpected padding etc. Ended up using dedicated classes for footer__small*/

/*This requires padding of 8px on left for some reason. 20px left on footer__narrow should have been sufficient?*/
.footer__info {
	color: white;
	float: left;
	padding-left: 8px;
	padding-top: 2px;
}

/*This requires a 40px margin on right, where I would expect it to need 20px?*/
.footer__nav-social {
	list-style-type: none;
	float: right;
	margin-top: 0px;
	margin-right: 40px;
}

/*li*/
.footer__social {
	list-style-type: none;
	float: right;
}

 /*images*/
.footer__social-img {
	height: 15px;
	padding: 5px 0.5em;
	float: right;
}

.search__img {
	width: 100%;
	opacity: 0.7;
}

.search__text {
	position: absolute;
	top: 25%;
	left: 0;
	color: white;
	width: 100%;
}

.search__input {
	position: absolute;
	bottom: 0px;
	height: 100px;
	width: 100%;
}

.links__title {
	height: 1em;
	margin-bottom: 1em;
}

/*ul*/
.links__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/*li*/
.links__list-item {
	line-height: 2em;
}

.links__jobs {
	margin-bottom: 0.8em;
/*	position: absolute;
	top: 10% + 42px;*/
}

.cta__block {
	background-color: #343535;
	opacity: 0.75;
	max-width: 250px;
	height: 140px;
	z-index: 0;
	padding: 2em;
}

.cta__centered {
	text-align: center;
}

.cta__img {
	max-height: 3em;
	width: 100%;
}

.employers__title {
	height: 1em;
	margin-bottom: 1em;
	padding: 0 10%;
}

/*ul*/
.employers__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/*li*/
.employers__list-item {
	display: inline-block;
}

.employers__img {
	width: 10em;
	margin: 0.7em;
	border: 2px solid #f0f0f0;
}

/*aside*/
.career__ads {
	/*flex: 1 10%;*/
	width: 25%;
	position: relative;
	/*left: 4%;*//*
	margin: 3em;*/
	display: inline-block;
}

.career__advert {
	/*text-align: center;*/
	width: 95%;
	margin: 1em;
}

.career__advertise-here {
	width: 95%;
	margin: 1em;
/*	background: black;
	opacity: 0.3;*/
}

.career__overlay {
	position: absolute;
	bottom: 1em;
	left: 1em;
	width: 95%;
	height: 39.5%;
	background: #343535;
	opacity: 0.7;
	/*padding: 1em;*/
}

.career__overlay-text {
	padding: 2em 1em;
}

.career__ad-list {
	padding-left: 1em;	
}

.career__ad-list-item {
	padding-bottom: 0.5em;
	padding-left: 0; 
}

/*article*/
.career__advice {
	/*flex-basis: 60%;*/
	/*flex: 1 40%;*/
	width: 60%;
    display: flex;
    flex-flow: column;
/*    position: relative;*/
   /* right: 5%;*/
   	display: inline-block;
   	padding: 1em;
}

.career__title {
	height: 1em;
	margin-bottom: 1.7em;
	margin-left: 1em;
/*	width: 100%;*/
}

.career__main-flex {
	display: flex;
    flex-flow: row;
    /*width: 60%;*/
}

.career__main {
	width: 50%;
	margin: 1em;
}

.career__secondary-flex {
	display: flex;
    flex-flow: row;
    /*width: 60%;*/
}

/*figure*/
.career__article {
	width: 100%;
	display: inline-block;
	margin: 1em;
}


/* MODIFIERS **************************************************************/

.text--big-title {
	font-size: 2em;
	text-align: center;
}

.text--medium-title {
	font-size: 1.2em;
	color: #47a3d6;
	-webkit-margin-before: 0;
}

.text--small-title {
	font-size: 1em;
	-webkit-margin-before: 0;
	/*line-height: 2em;*/
}

.text--medium {
	font-size: 1em;
	font-weight: lighter;
	text-align: center;
}

.text--right {
	float: right;
}

/*<a>*/
.text--link {
	text-decoration: none;
	color: #47a3d6;
	font-size: 1em;
}

.text--link-bold {
	text-decoration: none;
	color: #47a3d6;
	font-size: 1em;
	line-height: 1.6em;
	font-weight: bold;
}

.text--standard {
	margin-top: 0;
	font-size: 0.9em;
	line-height: 1.5em;
}

.text--white {
	color: white;
}

.header__logo:hover {
	max-height: 65px;
	padding: 5px 0px;
}

.header__link:hover {
	color: #343535;
}

.header__link--left {

}

.header__link--main {
	color: #343535;
	font-size: 1em;
	font-weight: bold;
	line-height: 50px;
}

.header__link--main:hover {
	background-color: #1079be;
	color: white;
	padding: 1em;
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.search__input--full-width {
	width: 100%;
/*	margin-bottom: 10em;*/
}

.search__input--half-width {
	width: 45%;
}
/*
.search__input--third-width {
	width: 33%;
}*/

.search__input--background {
	background-color: #343535;
	opacity: 0.6;
}

.links__jobs--img {
	width: 35%;
	float: left;
	margin-bottom: 1.2em;
}

.links__jobs--text {
	width: 60%;
	margin-left: 1em;
	float: right;
}

/*.employers__img--l {
	float: left;
}

.employers__img--r {
	float: right;
}*/

.career__main--img {
	width: 100%;
/*	margin: 1em;*/
}

.career__article--img {
	width: 100%;
}
