      section.career {
        display: flex;
        background-color: #f0f0f0;
      }

      aside {
        flex: 1 30%;
      }

    /*  article {
        flex: 1 30%;
      }*/

      article/*:nth-of-type(2)*/ {
        flex: 1 60%;
        display: flex;
        flex-flow: column;
      }


      career__advice-main-flex
      .middle {
/*        flex: 1 50%;*/
        display: flex;
        flex-flow: row;
      }

/*      div {
        margin: none;
        padding: none;
      }*/

      career__advice-main
      .careers-advice {
        width: 50%;
      }

      .careers-advice img {
        width: 100%;
      }

      career__advice-additional
      .bottom {
      /*  flex: 1 50%;*/
        display: flex;
        flex-flow: row;
      }

      career__article
      .careers-piece figure {
        width: 100%;
      }

      .careers-piece figure img {
        width: 100%;
        margin: none;
        padding: none;
      }
