body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
/*	font-weight: 400px;*/
	color: #343535;
}

/*HEADER*/

.sticky-header {
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0;
	background: #1079be;
	z-index: 10;
}

.small-nav {
	/*width: 100%;*/
	height: 25px;
/*	padding-left: 6%;
	padding-right: 6%;
	position: relative;*/
/*	z-index: 12;*/
/*	width: 90%;*/
}

/*.small-nav .left {
	position: absolute;
	top: 0;
	left: 0;
}*/

/*.small-nav .right {
	position: absolute;
	top: 0;
	right: 0;
}*/

.big-nav {
	width: 100%;
	height: 75px;
	padding-left: 6%;
	padding-right: 6%;
/*	z-index: 11;*/
}

.sticky-header .big-nav {
	background-color: white;
}

/*.sticky-header .small-nav {
	width: 100%;
}*/

.small-nav a,
.small-nav h6 {
	font-weight: lighter;
	font-size: 12px;
	color: white;
}

/*.small-nav nav ul li {
	text-align: right;
}*/

.small-nav a:hover {
	color: #47a3d6;
	background: none;
}

footer .small-nav {
	background-color: #343535;
}

img.logo {
	max-height: 55px;
	margin: 0px;
	padding: 10px 0px;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: inline-block;
	vertical-align: middle;
/*	transition: all 0.2s ease;*/
}

.big-nav nav ul li a {
	line-height: 2em;
	padding: 1em;
	font-size: 1em;
	font-weight: bold;
}

.small-nav nav ul li a {
	padding: 0 1em;
/*	margin: none;
	line-height: 0;*/
}

.big-nav nav ul li a:hover {
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  /*  background-color: #000;*/
	color: white;
	background-color: #1079be;
	padding: 1em;
}

/*#main {
	color: #343535 !important;
}*/

/*
.main-nav nav {
	padding: 2em;
	font-weight: bold;
}
*/






footer {
	background-color: #343535;
	width: 100%;
/*	height: 100px;*/
}

footer nav ul li a {
	color: white;
}

footer nav ul li {
	display: inline-block;
}




/*SECTIONS*/

#search {
	background: black;
	/*background-image: contain;
	background-repeat: no-repeat;
	opacity: 0.8;*/
	position: relative;
/*	top: 100px;*/
	margin-top: 100px;
	width: 100%;
	/*height: 500px;*/
}

#search img {
	width: 100%;
	opacity: 0.7;
}

.search {
	position: absolute;
	top: 0px;
	left: 0px;
/*	margin-left: auto;
	margin-right: auto;*/
	color: white;
	width: 100%;
}

h2 {
	font-size: 2em;
}

h6 {
	font-size: 1em;
	font-weight: lighter;
}

.search-bar {
	position: absolute;
	bottom: 0px;
	background-color: #343535;
	opacity: 0.6;
	height: 100px;
	width: 100%;
}

#cta {
	background: url(../img/_ctas/cta-bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}

.cta {
	background-color: #343535;
	opacity: 0.75;
	height: 200px;
	z-index: 1;
}

img.cta-img {
	max-height: 40px;
	opacity: 1;
}

.white {
	color: white;
}

#links {
	background-color: #f0f0f0;
}

.jobs {
	width: 40%;
	display: inline-block;
}

#feat-emp {
	text-align: center;
}

#feat-emp img {
	width: 13%;
}

#about,
#featured,
#download {
	background-color: #f0f0f0;
	padding: 1em;
}

.download {
	background: #bfefff url(../img/mobile-app.png);
	background-position: right-center;
	padding-right: none;
	margin-right: none;
/*	width: 50%;*/
}

.download .left {
	width: 50%;
	float: left;
}


/*.flush {
	background-color: #bfefff;
	width: 50%;
	float: right;
	margin: none;
	padding: none;
}*/
/*
#ad,
#advice,
#article {
	width: 33%;
}

.articles {
	width: 33%;
}
*/

/*GENERAL STYLING*/

ul {
	list-style-type: none;
/*	margin: 0px;
	padding: 0px;*/
}

/*ul li {
	margin-bottom: 10px;
}*/

a {
	text-decoration: none;
	color: #47a3d6;
}

aside {
	margin-left: 1em;
}

figure img {
	float: left;
}

figure {
	overflow: auto;
}
