.container {
  display: flex;
  flex-flow: row || wrap;
}

.box {
  flex: 1 30%;
}
.box:nth-of-type(2) {
  flex: 1 60%;
  display: flex;
  flex-flow: column || wrap;
}

.box {
    padding: 10px;
    margin: 10px;
    background: aqua;
    height: 400px;
}

.top {
    flex: 0 0 100%;
    background: yellow;
    height: 100px;
  }
.middle {
    flex: 0 0 100%;
    background: green;
    height: 100px;
  }
.bottom {
    flex: 0 0 100%;
    background: orange;
    height: 100px;
  }

